footer {
    background-color: $darkgrey ;
    display: flex;
    flex-direction: column;
    color: white;
    @include section;
    margin: 0;
    p {
        margin: 0 0 0.5rem 0;
        display: flex;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .footer__div {
        display: flex;
        flex-direction: row; 
        min-height: 2em; 
        .fas {  
            display: flex; 
            align-items: center;
            width: 0.8rem;
            font-size: 0.8rem;
        }
        p {
            margin: 0 0 0 0.8rem;
        }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    }
}