header {
display: flex;
justify-content: center;
width: 100%;
align-items: center;
    .logo {
        width: 10rem;
        margin-top: 1.5rem;
    }
    i{
        display: flex;
        position: relative;
        right: 50px;
    }
}