body {
  margin: 0;
}

section {
  padding: 1rem;
  margin: 1rem 0 0 0;
}

h1 {
  font-size: 24px;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 1rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

.typography_text--thin, .container {
  font-family: "Roboto", Arial, Sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.typography_text--bold, .menu__card--price p:last-child, .fonctionnement-choix, .restaurant-art .restaurant-label, .recherche-resultat p:first-child, .recherche-loc input, h1, h3, h4 {
  font-family: "Roboto", Arial, Sans-serif;
  font-weight: 900;
}

.typography_logo, h2 {
  font-family: "Shrikhand", Times New Roman, serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.container {
  max-width: 375px;
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 768px;
  }
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1rem;
  margin: 1rem 0 0 0;
  margin: 0;
}
footer p {
  margin: 0 0 0.5rem 0;
  display: flex;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: white;
}
footer .footer__div {
  display: flex;
  flex-direction: row;
  min-height: 2em;
}
footer .footer__div .fas {
  display: flex;
  align-items: center;
  width: 0.8rem;
  font-size: 0.8rem;
}
footer .footer__div p {
  margin: 0 0 0 0.8rem;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
header .logo {
  width: 10rem;
  margin-top: 1.5rem;
}
header i {
  display: flex;
  position: relative;
  right: 50px;
}

.fonctionnement-container {
  margin-top: 2rem;
}
@media screen and (min-width: 480px) {
  .fonctionnement-container {
    display: flex;
    justify-content: space-between;
  }
}

.restaurant {
  background-color: #f6f6f6;
}
@media screen and (min-width: 480px) {
  .restaurant-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.recherche {
  padding: 0;
  background-color: #f6f6f6;
}
.recherche-loc {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  height: 3rem;
}
.recherche-loc__container {
  display: flex;
  width: 10rem;
}
.recherche-loc i {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 18px;
}
.recherche-loc input {
  border: none;
  background-color: #eaeaea;
  width: 65%;
  margin-left: 15px;
}
.recherche-resultat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 1rem 3rem 1rem;
}
.recherche-resultat p {
  text-align: center;
}
.recherche-resultat p:first-child {
  font-size: 24px;
  width: 80%;
  margin-bottom: 0;
}

.menu {
  background-color: #f6f6f6;
  padding: 0 0 4rem 0;
}
.menu__container {
  padding: 1rem;
  animation: 0.25s ease-in cascade;
  animation-fill-mode: backwards;
  visibility: visible;
}
.menu__container--bloc {
  margin-bottom: 2rem;
}
.menu__container:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.menu__container:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.menu__container:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.menu__container--card {
  overflow: hidden;
  padding: 0.5rem;
}
@media screen and (min-width: 480px) {
  .menu__container--card {
    display: flex;
    justify-content: space-between;
  }
}
.menu__container--card .menu__card {
  animation: 0.22s ease-in cascade;
  animation-fill-mode: backwards;
  visibility: visible;
}
.menu__container--card .menu__card:nth-child(1) {
  -webkit-animation-delay: 0.22s;
  animation-delay: 0.22s;
}
.menu__container--card .menu__card:nth-child(2) {
  -webkit-animation-delay: 0.44s;
  animation-delay: 0.44s;
}
.menu__container--card .menu__card:nth-child(3) {
  -webkit-animation-delay: 0.66s;
  animation-delay: 0.66s;
}
@keyframes cascade {
  0% {
    transform: translateY(50px);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
.menu__heading--img {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  border-radius: 0;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 480px) {
  .menu__heading--img {
    height: 40vh;
    object-position: right 70%;
  }
}
.menu__heading--title {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 40px 40px 0 0;
  border-top: solid 3px #f6f6f6;
  position: relative;
  background-color: #f6f6f6;
  top: -40px;
  z-index: 3;
}
.menu__heading--title i {
  display: flex;
  align-items: center;
}
.menu__border {
  display: flex;
  margin-top: 5px;
  border-top: 4px solid #99E2D0;
  width: 3rem;
}
.menu__button {
  display: flex;
  justify-content: center;
}

.menu__heading--title:hover .far {
  visibility: hidden;
}
.menu__heading--title:hover .fas {
  visibility: visible;
  animation: heart 1s cubic-bezier(0.23, 0.25, 1, 0.36);
}

/*I. RESTAURANT CARDS*/
.restaurant-art {
  position: relative;
  /*z-index: 1;*/
  display: flex;
  flex-direction: row;
  width: auto;
  height: 15rem;
  border-radius: 15px;
  margin: 1rem 0;
  box-shadow: 0px 5px 10px #9ea6a7;
  background-color: white;
}
@media screen and (min-width: 480px) {
  .restaurant-art {
    width: 45%;
  }
}
@media screen and (min-width: 780px) {
  .restaurant-art {
    width: 30%;
  }
}
.restaurant-art a {
  width: 100%;
  text-decoration: none;
  color: black;
}
.restaurant-art .restaurant-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 1rem;
  background-color: #99E2D0;
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 0;
  border-radius: 5px;
  padding: 5px 10px;
  color: #008766;
}
.restaurant-art img {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurant-art .restaurant-bandeau {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: auto;
  padding-top: 10px;
}
.restaurant-art .restaurant-bandeau__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: 0 1rem;
}
.restaurant-art .restaurant-bandeau__text p {
  margin: 5px 0;
}

.restaurant-bandeau:hover .far {
  visibility: hidden;
}
.restaurant-bandeau:hover .fas {
  visibility: visible;
  animation: heart 1s cubic-bezier(0.23, 0.25, 1, 0.36);
}

/*II. FONCTIONNEMENT CHOIX*/
.fonctionnement-choix {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  border-radius: 15px;
  margin: 1rem 0;
  box-shadow: 0px 5px 10px #9ea6a7;
  background-color: white;
  margin-left: 1rem;
  justify-content: space-between;
  font-size: 1rem;
  background-color: #f6f6f6;
}
@media screen and (min-width: 480px) {
  .fonctionnement-choix {
    width: 45%;
  }
}
@media screen and (min-width: 780px) {
  .fonctionnement-choix {
    width: 30%;
  }
}
.fonctionnement-choix a {
  justify-content: left;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  height: 4rem;
  position: relative;
}
.fonctionnement-choix a span {
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.4rem;
  width: 1.4rem;
  position: absolute;
  left: -10px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.fonctionnement-choix a p {
  margin-left: 20px;
}
.fonctionnement-choix a i {
  color: #7e7e7e;
  margin-left: 2em;
  font-size: 16px;
}

.fonctionnement-choix:hover {
  background-color: #9256dc23;
}
.fonctionnement-choix:hover a {
  z-index: 1;
}
.fonctionnement-choix:hover i {
  color: #9356DC;
  z-index: 3;
}
.fonctionnement-choix:hover .fonctionnement-number {
  z-index: 0;
}

.restaurant-art:nth-child(1) img {
  object-position: 0% 100%;
}

.restaurant-art:nth-child(2) img {
  object-position: 50% 61%;
}

.restaurant-art:nth-child(3) img {
  object-position: 0% 90%;
}

.restaurant-art:nth-child(4) img {
  object-position: 0% 90%;
}

/*III. MENU CARDS*/
.menu__card {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  border-radius: 15px;
  margin: 1rem 0;
  box-shadow: 0px 5px 10px #9ea6a7;
  background-color: white;
  justify-content: space-between;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .menu__card {
    width: 45%;
  }
}
@media screen and (min-width: 780px) {
  .menu__card {
    width: 30%;
  }
}
@media screen and (min-width: 480px) {
  .menu__card {
    margin: 1rem;
  }
}
.menu__card--bloc {
  width: 100%;
  padding: 10px 15px 2px 10px;
  box-sizing: border-box;
}
.menu__card--price {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}
.menu__card--price p:first-child {
  margin: 0 10px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card--check {
  display: flex;
  visibility: visible;
  justify-content: center;
  align-items: center;
  height: auto;
  background: #99E2D0;
  color: white;
  border-radius: 0 15px 15px 0;
  width: 0;
}

.menu__card:hover {
  display: flex;
  visibility: visible;
}
.menu__card:hover .menu__card--bloc {
  max-width: 70%;
  width: 70%;
}
.menu__card:hover .menu__card--check {
  display: flex;
  visibility: visible;
  animation: background-check 4s ease-in-out 0.1s;
  animation-fill-mode: backwards;
  width: 5rem;
}
.menu__card:hover .menu__card--check i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  animation: check 0.5s ease-in-out 1s;
  animation-fill-mode: backwards;
}

@keyframes background-check {
  0% {
    transform: translateX(50px);
  }
  30% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
@keyframes check {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  height: 3rem;
  width: auto;
  color: #fff;
  border-radius: 25px;
  padding: 1rem;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  z-index: 1;
}
.button:hover::after {
  opacity: 1;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  opacity: 0;
  z-index: -1;
  border-radius: 25px;
  transition: opacity 250ms;
  box-shadow: 0px 5px 10px #535657;
}

.loading_spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #0a0522;
  animation: animateBg 2s linear;
  animation-fill-mode: forwards;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

@keyframes animateBg {
  0% {
    filter: hue-rotate(0deg);
    visibility: visible;
  }
  99.9% {
    filter: hue-rotate(360deg);
  }
  100% {
    visibility: hidden;
  }
}
.loader {
  position: relative;
  width: 120px;
  height: 120px;
}
.loader span {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FF79DA;
  box-shadow: 0 0 10px #FF79DA;
  box-shadow: 0 0 20px #FF79DA;
  box-shadow: 0 0 40px #FF79DA;
  box-shadow: 0 0 60px #FF79DA;
  box-shadow: 0 0 80px #FF79DA;
  box-shadow: 0 0 100px #FF79DA;
  animation: animate 2s linear infinite;
  animation-fill-mode: forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  80%, 100% {
    transform: scale(0);
  }
}
.heart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.heart-icon far {
  margin: 0 1rem;
  visibility: visible;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.heart-icon .fas {
  visibility: hidden;
  overflow: hidden;
  background: -webkit-linear-gradient(bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 0;
  right: 1rem;
  z-index: 0;
}

@keyframes heart {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
