.restaurant-art{
    @include cards (15rem);
    a{
        width: 100%;
        text-decoration: none;
        color: black;
    }
    restaurant-label{
        background-color: $green;
        color: #fff;
        @extend .typography_text--bold;
    }
    img{
        @include image;
          
    }
    .restaurant-bandeau{
        display: flex;
        flex-direction: row;      
        justify-content: space-between;
        width: auto;
        height: auto;
        &__text{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            margin: 0 1rem;
        }
        &__icon{
            display: flex;
            justify-content: center;
            align-items: center;
            far{
                margin: 0 1rem;
                visibility: visible;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
            }
            .fas{
                visibility: hidden; 
                overflow: hidden;
                background:-webkit-linear-gradient(bottom right, $pink, $purple);
                -webkit-background-clip:text;
                -webkit-text-fill-color: transparent;
                position: relative;
                top: 0;
                right: 1rem;
                z-index: 0;
            }
        }
    }
    .restaurant-bandeau:hover{
        .far{
            visibility: hidden;
        }
        .fas{
            visibility: visible;
            animation: heart 2s linear;
        }
    }
}

@keyframes heart {
    0%{
        visibility: visible;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

.fonctionnement-choix{
    @include cards(auto);
    margin-left: 1rem;
    justify-content: space-between;  
    @extend .typography_text--bold;
    font-size: 1rem;
    background-color: $lightgrey;
    a {
        justify-content: left;
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 15px;
        height: 4rem;
        position: relative;
        span {
            border-radius: 50%;
            background-color: #9356DC;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1.4rem;
            width: 1.4rem;
            position: absolute;
            left: -10px;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
        }
        p {
            margin-left: 20px;
        }
        i {
            color: $icongrey;
            margin-left: 2em;
            font-size: 16px;
        }
    }
    .fonctionnement-choix:hover{
        opacity: 0;
        a {
            opacity: 0.3;
            background-color: $purple;
        }
        i{
            color: $purple;
        }
    } 
}

.menu__card {
    @include cards (auto);

    justify-content: space-between;
    overflow: hidden;  
    @include tablet {
        margin: 1rem;
    }
    &--bloc {
        width: 100%;
        margin: 1rem;
    }
    &--price {
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: space-between;
        align-items: center;
        p { 
            margin: 5px 0 0 0;
        }
        p:last-child {
            @extend .typography_text--bold;
        }
    }
    &--check {
        display: flex;
        visibility: hidden;
        justify-content: center;
        align-items: center;
        height: auto;
        background: $green;
        border-radius: 0 15px 15px 0;  
        &:hover {
            display: flex;
            visibility: visible;
            width: 7rem;         
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.7rem;
                color: #fff;
                animation: check 0.5s ease-in-out 1s;
                animation-fill-mode: backwards;
            }
        }
    }
}

@keyframes check {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}