/*.restaurant-art{
    position: relative;
    @include cards (15rem);
    a{
        width: 100%;
        text-decoration: none;
        color: black;
    }
    .restaurant-label{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 1rem;
        background-color: $green;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 0;
        border-radius: 5px;
        padding: 5px 10px;
        color: #fff;
        @extend .typography_text--bold;
    }
    img {
        @include image; 
    }
    .restaurant-bandeau {
        display: flex;
        flex-direction: row;      
        justify-content: space-between;
        width: auto;
        height: auto;
        &__text{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            margin: 0 1rem;
        }
    }
        &__icon{
            display: flex;
            justify-content: center;
            align-items: center;
            far{
                @include heart_far
            }
            .fas{
                @include heart_fas
            }
        }

    .restaurant-bandeau:hover{
        .far{
            visibility: hidden;
        }
        .fas{
            visibility: visible;
            animation: heart 2s linear;
        }
    }
}


@keyframes heart {
    0%{
        visibility: visible;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}*/

.restaurant-art{
    position: relative;
    /*z-index: 1;*/
    @include cards (15rem);
    a{
        width: 100%;
        text-decoration: none;
        color: black;
    }
    .restaurant-label{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 1rem;
        background-color: $green;
        position: absolute;
       /* margin-right: 10px;*/
        top: 10px;
        right: 10px;
        z-index: 0;
        border-radius: 5px;
        padding: 5px 10px;
        color: #fff;
        @extend .typography_text--bold;
    }
    img {
        @include image; 
    }
    .restaurant-bandeau {
        display: flex;
        flex-direction: row;      
        justify-content: space-between;
        width: auto;
        height: auto;
        &__text{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            margin: 0 1rem;
        }
        /*.heart-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            far{
                @include heart_far
            }
            .fas{
                @include heart_fas
            }
        }*/
    }
    /*.restaurant-bandeau:hover{
        .far{
            visibility: hidden;
        }
        .fas{
            visibility: visible;
            animation: heart 2s linear;
        }
    }*/
}

/*@keyframes heart {
    0%{
        visibility: visible;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}*/

.fonctionnement-choix{
    @include cards(auto);
    margin-left: 1rem;
    justify-content: space-between;  
    @extend .typography_text--bold;
    font-size: 1rem;
    background-color: $lightgrey;
    a {
        justify-content: left;
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 15px;
        height: 4rem;
        position: relative;
        span {
            border-radius: 50%;
            background-color: #9356DC;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1.4rem;
            width: 1.4rem;
            position: absolute;
            left: -10px;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
        }
        p {
            margin-left: 20px;
        }
        i {
            color: $icongrey;
            margin-left: 2em;
            font-size: 16px;
        }
    }
    .fonctionnement-choix:hover{
        opacity: 0;
        a {
            opacity: 0.3;
            background-color: $purple;
        }
        i{
            color: $purple;
        }
    } 
}

.menu__card {
    @include cards (auto);

    justify-content: space-between;
    overflow: hidden;  
    @include tablet {
        margin: 1rem;
    }
    &:hover {
        display: flex;
        visibility: visible;   
        animation: background 4s ease-in-out 0.1s;
        animation-fill-mode: backwards;        
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.7rem;
            color: #fff;
            animation: check 0.5s ease-in-out 1s;
            animation-fill-mode: backwards;
        }
    }
    &--bloc {
        width: 100%;
        margin: 1rem;
    }
    &--price {
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: space-between;
        align-items: center;
        p:first-child { 
            margin: 5px 10px 0 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
        }
        p:last-child {
            @extend .typography_text--bold;
        }
    }
    &--check {
        display: flex;
        visibility: hidden;
        justify-content: center;
        align-items: center;
        height: auto;
        background: $green;
        border-radius: 0 15px 15px 0; 
    }
}

@keyframes background {
    0%
    {
        transform: translateX(50px);
    }
    30%{
        transform: translateX(0);
    }
    70%{
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(100px);
    }
}

@keyframes check {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}