.fonctionnement-container{
   @include tablet{
   display: flex;
   justify-content: space-between;   
   }
}

.restaurant{
   @include background-section; 
   &-container{
      @include tablet{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
      }
   }
}

.recherche{
   padding: 0;
   @include background-section;
   &-loc{
      display: flex;
      justify-content: center;
      background-color: $grey;
      height: 3rem;
      &__container{
         display: flex;
         width: 10rem;
      }
      i {
         display: flex;
         align-items: center;
         justify-content: right;
         font-size: 18px;
      } 
      input {
         border: none;
         background-color: $grey;
         width: 65%;
         margin-left: 15px;
      }  
   }
   &-resultat {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      box-sizing: border-box; 
      padding: 1rem;
/*probleme centrage*/
      p {
         text-align: center;
      }
      p:first-child {
         @extend .typography_text--bold;
         font-size: 1.5rem;
      }
   }
}