.menu {
    background-color: $lightgrey;
    padding: 0 0 4rem 0;
    &__container {
        padding: 1rem;
        &--bloc {
            margin-bottom: 2rem;
        }
        animation: 0.25s ease-in cascade;
        animation-fill-mode: backwards;
        visibility: visible;
            @for $i from 1 through $total {
                &:nth-child(#{$i}) {
                    -webkit-animation-delay: $i * 0.1s;
                    animation-delay: $i * 0.1s /*- 0.25s*/;
                }
            }
        &--card {
            overflow: hidden;
            padding: 0.5rem;
            @include tablet {
                display: flex;
                justify-content: space-between;
            }
            .menu__card {
            animation: 0.22s ease-in cascade;
            animation-fill-mode: backwards;
            visibility: visible;
                @for $i from 1 through $total {
                    &:nth-child(#{$i}) {
                        -webkit-animation-delay: $i * 0.22s;
                        animation-delay: $i * 0.22s /*- 0.25s*/;
                    }   
                }
            }
        }
        @keyframes cascade {
            0% {
                transform: translateY(50px);
                opacity: 0;
                visibility: visible;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__heading {
        &--img {
            @include image;
            border-radius: 0;
            position: relative;
            z-index: 2;
            @include tablet {
                height: 40vh;
                object-position: right 70%;
            }
        }
        &--title {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            border-radius: 40px 40px 0 0;
            border-top: solid 3px $lightgrey;
            position: relative;
            background-color: $lightgrey;
            top: -40px;
            z-index: 3;
            i {
                display: flex;
                align-items: center;
            }
        }
    }
    &__border {
        display: flex;
        margin-top: 5px;
        border-top: 4px solid $green;
        width: 3rem;
    }
    &__button {
        display: flex;
        justify-content: center;
    }
}