@mixin image {
    width: 100%;
    height: 70%;
    border-radius: 25px 25px 0 0;  
}

@mixin background-section {
    background-color: $lightgrey ;
    
}

@mixin section {
    padding: 1rem 0;
}

@mixin cards {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    border-radius: 25px;
    margin: 2rem;
    box-shadow: $box-shaddows;
    background-color: white;
}