//Media Querie//

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }  
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }  
}

@mixin image {
    width: 100%;
    height: 70%;
    border-radius: $border-radius--top;
    object-fit: cover; 
}

@mixin background-section {
    background-color: $lightgrey;  
}

@mixin section {
    padding: 1rem;
    margin: 1rem 0 0 0;
}

@mixin cards($height){
    display: flex;
    flex-direction: row;
    width: auto;
    height: $height;
    border-radius: $border-radius;
    margin: 1rem 0;
    box-shadow: $box-shaddows;
    background-color: white;
    @include tablet{
        width: 45%;
    }
    @include desktop{
        width: 30%;
    }
}

@mixin button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, $pink, $purple);
    height: 3rem;
    width: 12rem;
    color: #fff;
    border-radius: 25px;
    padding: 1rem;
    border: 0;
}