$black: #000;
$purple: #9356DC;
$pink: #FF79DA;
$green: #99E2D0;
$lightgrey: #f6f6f6;
$grey: #eaeaea;
$icongrey: #7e7e7e;
$darkgrey: #353535;
$box-shaddows: 0px 5px 10px rgb(158, 166, 167);
$breakpoints: (
    tablet: 480px,
    desktop: 780px,
);
$border-radius--top: 15px 15px 0 0; 
$border-radius: 15px;




